#clients {
	float: left;
	width: 33%;
	border-right: 1px solid black;
}

#message_container {
	width: 66%;
	float: left;
	padding-left: 5px;
}

#input {
	width: 98%;
}

#input_container {
	position: absolute;
	width: 100%;
	bottom: 10px;
	left: 0px;
	padding: 0 5px;
}

.hide {
	display: none;
}